.conteiner{
    max-width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;

}
.cabeca{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    margin: 10px;
    background-color: #121212;
}
.cabeca__navegacao{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabeca__navegacao .esquerda{
    margin-right: 1.25rem;
}
.seta-esquerda, .seta-direita{
    display: flex;
    align-items: center;
    width: 32px;
    justify-content: center;
    height: 32px;
    background-color:#131313;
    background:  rgba(0,0,07);
    border:none;
    border-radius: 50%;
    cursor: pointer;
}
.cabeca__buscar{
    display: flex;
    align-items: center;
    border-radius: 40px;
}
.cabeca__buscar {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    background-color: #242424;
    border: 500px;
    border: 1px solid transparent;

}
.cabeca__buscar  img{
    width: 16px;
    height: 16px;
    margin-left:10px ;
    

}
.cabeca__buscar input{
    background-color: transparent;
    border: none;
    padding: 0 100px 0 12px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;

}
.cabeca__logar .inscrever{
    color: #b8b0b0;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    cursor: pointer;
}
.cabeca__logar .entrar{
    color: #000;
    width: 100px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    cursor: pointer;
}