body{
    background-color: #000;
    font-family: var(--DM-Sans)
}
.barra-lateral {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.barra-lateral__navegacao {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.barra-lateral__navegacao .logo{
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.barra-lateral__navegacao .logo img{
    width: 80px;
}

.barra-lateral__navegacao ul  {
    margin-top: 20px;
    padding: 0 20px 20px 20px;
}

.barra-lateral__navegacao ul li{
    padding: 10px 0;
}

.barra-lateral__navegacao ul  a{
    color: #b3b3b3;
    font-weight: 600;
    font-style: 14px;
    text-decoration: none;
}

.biblioteca{
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 8px;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.biblioteca .biblioteca__botao{
    
    display: flex;
    justify-content: space-between;
    
    
}
.biblioteca .biblioteca__botao button{
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    
    text-decoration: none;
    text-transform: 0;
    padding: 20px 10px;
    display: flex;
}

.biblioteca .biblioteca__botao button .fa{
    
    margin-right: 10px;
    font-size: 20px;
    font-weight: 300;
    padding-right: 8px;
    

}
.biblioteca .biblioteca__botao .fa-plus{
    margin: 24px 10px;
}

.playlist{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 600;
    margin: 8px 0;
    padding: 16px 20px;
    background-color: #242424;
    border-radius: 8px;
}
.playlist .playlist__conteudo{
    display: flex;
    flex-direction: column;

}
.playlist .playlist__conteudo .text{
    
    padding-bottom: 14px;
    color: #fff;
    
}

.playlist .playlist__conteudo .titulo{
    font-weight: 700;
}
.playlist .playlist__conteudo .subtitulo{
    font-size: 12px;
    font-weight: 500;
}
.playlist .playlist__conteudo button{
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0;
    width: 113px;
    margin-top: 12px;
}
.biblioteca .cookies{
    margin: 20px 20px;

}
.biblioteca .cookies a{
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}
.biblioteca .cookies a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.linguagem{
    margin:20px 0 ;
}
.linguagem .linguagem__botao{
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    cursor: pointer;
    align-items: center;
    font-weight: bolder;
    border-radius: 20px;
    width: 170px;
    margin: 8px;
    padding: 8px;
    
}